body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.contact-info {
    padding: 40px;
    background: #F9F9F9;
    margin-top: 75px;
    /* Updated box shadow */
}
.contact-info h2 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}
.contact-info p {
    margin-top: 20px;
    color: #666;
    font-weight: bold;
}
.contact-form {
    padding: 40px;
    background: white;
    width: 320px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 80px;
    margin-top: 50px;
    box-shadow: 2px 4px 40px -2px black; /* Updated box shadow */
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 150px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: #888;
   
}

.contact-form button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: darkred;
}

.flex{
    display: flex;
    gap: 20px;
}

#message{
    width: 300px;
}



.contact-form .form-group.terms {
    display: flex;
    align-items: center;   
}

#terms{
    margin: 0%;
    padding: 0%;
    width: 13px;
    margin-bottom: 23px;
    margin-right: 10px;
}

#content{
      display: flex;
      margin-right: 30px;
}

button{
    margin-left: 170px;
}

a{
    color: red;
}