
*{
    margin: 0%;
    padding: 0%;
}
footer{
    background-color: rgb(172, 172, 172);
    padding-bottom: 20px;
}

.content{
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: center;
}

.firstbox{
    display: flex;
    gap: 80px;
}

.secondbox{
    display: flex;
    gap: 80px;
}

h1{
    margin-bottom: 7px;
    color: rgb(117, 7, 7);
}

a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

.appstore img{
    height: 60px;
    width: 160px;
}

.appstore{
    margin-left: 340px;
}

.icon img{
    height: 30px;
    width: 30px;
}

#in{
    height:30px;
    width: 50px;
}

#x{
   border-radius: 50%;
}

.icon{
    margin-left: 710px;
   
}
 

/* CSS styles for screens narrower than 600px */
@media screen and (max-width: 599px) {
    .content{
        flex-direction: row;
        align-items: center;
    }
}


