

form{
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    margin-left: 300px;
    margin-right:300px ;
    margin-top: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border-radius: 9px;
    box-shadow:2px 2px 2px 2px rgb(0, 238, 255);
    background-color: rgb(255, 33, 18);
}

input{
    background-color: black;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: 300px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin-right: 280px;
}

button{
    background-color: rgba(3, 252, 3, 0.911);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    font-size: larger;
    border-color:rgba(3, 252, 3, 0.911) ;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 110px;

}

h1{
    text-align: center;
    margin-right: 30px;
}